        /*Colores*/
        .rojo {
background-color: red;
}

.azul {
background-color: blue;
}

.aqua {
background-color: aqua;
}

.negro {
background-color: black;
}

.beige {
background-color: beige;
}

.menta {
background-color: mediumaquamarine;
}

.marron {
background-color: brown;
}

.verde {
background-color: green;
}

.naranja {
background-color: orange;
}

.salmon {
background-color: coral;
}

.teal {
background-color: teal;
}

.lila {
background-color: blueviolet;
}
</style>
